.animatedLogo {
    // margin-left: auto;
    // margin-top: 5rem;
    width: 25px;
    height: 25px;
    transform: scale(0.3);

    .logoBox {
        z-index: 1;
        margin: auto;
        position: absolute;
    }

    @keyframes spinBlades {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .logoBlades {
        z-index: 2;
        animation-timing-function: linear;
        animation-name: spinBlades;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        position: absolute;
    }
}
