.button {
    width: fit-content;
    border-radius: 7px;
    text-align: center;
    user-select: none;
    margin-bottom: 5px;
    cursor: pointer;
    // margin-left: 0.25rem;
    margin-right: 0.25rem;
    display: inline-block;
}

.right {
    margin-left: auto;
}

.tableControl {
    background-color: $buttonLightOrange;
    color: $buttonDarkOrange;

    .icon {
        background-color: $buttonDarkOrange;
    }
}

.warning {
    background-color: $lightPink;
    color: $lightRed;

    .icon {
        background-color: $lightRed;
        img {
            width: 26px;
            height: 32px;
        }
    }
}

.warningSecondary {
    @include borderedDangerButton;
}

.loggerInfoShow {
    background-color: $buttonDarkOrange;
    color: white;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.save {
    @include filledPrimaryButton;
}

.text {
    float: left;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.icon {
    float: left;
    height: 100%;
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
    img {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }
}
