.channelTemplate {
    display: flex;
    flex-flow: column;

    margin: 0 16px;

    height: 100%;

    h1 {
        @include mediumTitle;
        color: $darkNavbar;
    }

    .scriptTable {
        display: flex;
        flex-flow: column;

        border-radius: 8px;
        border: solid 1px $shadow;

        margin-top: 32px;
        height: 100%;

        overflow: hidden;

        .scrollable {
            @include scrollWithoutScrollbar;

            height: 100%;
        }

        .headerHighlight {
            background: $turqois;
            color: $offWhite;
        }

        .headerAlign {
            padding-left: 32px;
        }

        .addScript {
            @include addButton;

            width: 32px;
            height: 32px;
            line-height: 32px;

            position: absolute;
            right: 24px;
        }

        h2 {
            @include smallTitle;
        }

        .row {
            position: relative;

            display: flex;
            flex-flow: row;
            flex-wrap: wrap;

            padding: 8px 0;

            width: 100%;
        }

        .column {
            display: flex;
            flex-flow: column;
            flex: 1;
        }

        svg {
            float: left;
            margin: 0 4px;

            width: 24px;
            height: 24px;

            fill: $darkGray;

            &:hover {
                fill: $buttonDarkOrange;
            }
        }

        .hidden {
            display: none;
        }

        .expandable {
            padding-left: 48px;
            padding-bottom: 16px;
        }

        .highlight {
            background: darken($offWhite, 4);
        }

        .row:hover > .delete {
            display: block;
        }

        .delete {
            display: none;
            position: absolute;

            top: 8px;
            right: 24px;

            &:hover {
                fill: $lightRed;
            }
        }
    }
}
