.equipmentDashboard {
    @include scrollWithoutScrollbar;
    background-color: $lightRed;
    overflow-y: scroll;
    border: 5px solid $companyName;

    .card {
        @include cardExtraLarge;
        margin-bottom: 8px;
        height: 60vh;
    }

    h1 {
        @include mediumSmallTitle;
        color: $companyName;
    }

    .responsiveLine {
        height: 50vh;
    }
}