.screenDarken {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    animation: fadeIn ease 0.5s;
}

.modal {
    @include floatingCard;
    position: absolute;
    margin-top: 0;
    z-index: 11;

    top: 50%;
    left: 50%;

    width: 500px;
    height: min-content;

    transform: translate(-50%, -50%);

    display: flex;
    flex-flow: column;

    z-index: 1000;

    h2 {
        @include smallTitle;
    }

    .content {
        justify-content: flex-start;
        margin: 32px 32px 16px 32px;
    }

    .horizontal {
        @include horizontalLayout;
    }

    .modalButtons {
        justify-content: flex-end;
        margin: 16px 32px 32px 32px;
    }

    p {
        @include lightParagraph;
    }

    svg {
        @include svgButton;
    }
}
