.registerUsers {
  h1 {
    @include largeTitle;
    color: $companyName;
  }

  h2 {
    @include smallTitle;
    opacity: 0.7;
    padding-top: 10px;
  }

  input {
    @include wideInput;
  }

  .registerUsersButton {
    @include filledPrimaryButton;
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .addEmailButton {
    @include borderedPrimaryButton;
    float: right;
  }

  .card {
    @include floatingCard;
    @include cardLarge;
  }

  .dashboardLink {
    @include link;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
