.requestAccount {
    input {
        @include wideInput;
    }
    textArea {
        @include wideInput;
    }

    .card {
        @include floatingCard;
        @include cardLarge;
    }

    h1 {
        @include largeTitle;
        color: $companyName;
    }

    button {
        @include filledPrimaryButton;
        width: 70%;
        margin: 0 auto;
        display: block;
    }
}
