.routes {
    height: 100%;

    margin-left: 60px;

    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.staticRoutes {
    height: 100%;

    margin-left: 60px;

    padding-top: 6px;
    padding-bottom: 6px;
}
