.siteConfigTab {
    width: 70%;
    margin-top: 30px;

    h1 {
        @include largeTitle;
    }

    h2 {
        @include mediumSmallTitle;
        color: $darkGray;
    }

    button {
        @include filledPrimaryButton;
        width: fit-content;
        text-align: center;
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
        user-select: none;
        margin-bottom: 5px;
        cursor: pointer;
        margin-right: 0.25rem;
    }

    .buttonContainer {
        display: flex;
        .pad {
            flex: 2;
        }
        .buttons {
            margin-left: 0px;
            padding-left: 0px;
            flex: 7;
            display: flex;
            column-gap: 10px;
        }
        button {
            float: left;
        }
    }

    .formGroup {
        display: flex;
        vertical-align: center;

        label {
            padding-top: 15px;
            flex: 2;
            @include tinyTitle;
        }
        input,
        .text {
            flex: 7;
            @include wideBlueInput;
        }
    }

    .notificationSection {
        margin-top: 20px;
    }

    .notificationEntry {
        display: flex;
        .name {
            flex: 2;
        }
        .toggle {
            flex: 7;
        }
    }
}
