.site-equipment {
    display: flex;
    flex-flow: column;
    height: calc(100% - 2rem);

    margin: 8px 24px;

    h1 {
        @include mediumTitle;
        color: $darkNavbar;
    }

    .message {
        @include mediumSmallTitle;

        width: 50%;

        margin: 64px auto;

        align-self: center;
        text-align: center;
        justify-content: center;

        color: $companyName;
    }

    .site-equipment-back-button {
        margin: 0 0 8px 0;

        font-size: 14pt;
        display: flex;
    }

    .site-equipment-back-button:hover {
        color: $lightOrange;
        fill: $lightOrange;
    }

    .buttonBar {
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin-left: auto;
    }
}
