@import '../designLanguage/dataGrid';

.sites {
    display: flex;
    flex-flow: column;

    margin: 0 16px;

    height: 100%;

    h1 {
        @include mediumTitle;
        color: $darkNavbar;
    }

    .dataGrid {
        @include dataGrid;
    }
}
