@import '../designLanguage/dataGrid';

.sites {
    margin: 0 16px;
    // @include scrollWithoutScrollbar;

    height: 100%;
    h1 {
        @include mediumTitle;
        color: $darkNavbar;
    }

    .data-grid-container {
        display: flex;
        flex-flow: column;

        margin: 0 0 16px 0;
        height: 100%;
    }

    .data-grid {
        @include dataGrid;

        flex: 1;
    }
}
