.sites {
    display: flex;
    flex-flow: column;

    margin: 0 16px;

    height: 100%;

    h1 {
        @include mediumTitle;
        color: $darkNavbar;
    }

    .dataGrid {
        @include dataGrid;
    }

    .openIcon {
        margin: 0 auto;
        // width: 60%;
        // height: 60%;
    }

    .deleteLink {
        @include link;
        color: $lightRed;
    }
}

.message {
    @include mediumSmallTitle;

    width: 50%;

    margin: 64px auto;

    align-self: center;
    text-align: center;
    justify-content: center;

    color: $companyName;
}
