.tab-view {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 32px;
  margin-right: 32px;

  border-bottom: 1px solid $lightGray;
}

.tab-item {
  font-size: 14pt;

  margin-left: 16px;
  margin-right: 16px;
}

.tab-item:hover {
  color: $lightOrange;
}

.tab-item-selected {
  color: $lightOrange;
  border-bottom: 2px solid $lightOrange;
}
