.table {
  width: 100%;
  //   background-color: blue;
  height: 100%;
  .dataGrid {
    width: 100%;
    height: 700px;
    margin-bottom: 40px;
  }

  .tableControls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .input {
    @include smallInput;
  }
  .MuiDataGrid-root {
    border-width: 0px;
  }

  .MuiButton-label {
    color: $darkGray;
    background-color: $lightGray;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
  }
}
