.toggleSwitch {
    $width: 2rem;
    $height: 1rem;

    margin-right: $width;

    .background {
        margin-top: $height * 0.1;
        position: absolute;
        z-index: 1;
        background-color: $shadow;
        width: $width;
        height: $height;
        border-radius: $height / 2;
    }

    .slider-on {
        margin-left: $height;
        position: absolute;
        z-index: 2;
        background-color: $turqois;
        width: $height * 1.2;
        height: $height * 1.2;
        border-radius: ($height * 1.2) / 2;
        transition: background-color 0.2s, margin-left 0.2s;
    }

    .slider-off {
        margin-left: 0;
        position: absolute;
        z-index: 2;
        background-color: $darkGray;
        width: $height * 1.2;
        height: $height * 1.2;
        border-radius: ($height * 1.2) / 2;
        transition: background-color 0.2s, margin-left 0.2s;
    }
}
