.userSettings {
    margin: 0 16px;
    margin-right: 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    @include scrollWithoutScrollbar;

    h1 {
        @include smallTitle;
        font-size: 25px;
        color: $companyName;
        margin-top: -20px;
        padding-bottom: 20px;
    }

    .primaryBtn {
        @include filledPrimaryButton;
    }

    .deleteBtn {
        @include borderedDangerButton;
    }

    .pswdLink {
        @include link;
    }

    .floatingSection {
        @include floatingCard;
        @include cardLarge;
    }

    .inputGroup {
        display: flex;
        vertical-align: center;
        label {
            padding-top: 15px;
            flex: 2;
            @include tinyTitle;
        }
        input {
            flex: 7;
            @include wideBlueInput;
        }
    }

    .checkGroup {
        display: flex;
        vertical-align: center;
        label {
            flex: 2;
            @include tinyTitle;
        }
        .checkBoxContainer {
            flex: 7;
        }
    }

    .buttonsContainer {
        display: flex;
        .pad {
            flex: 2;
        }
        .buttons {
            margin-top: 15px;
            flex: 7;
            button {
                margin-right: 20px;
            }
        }
    }

    .resetPasswordForm {
        @media (max-width: 900px) {
            margin-top: 40px;
        }
        input {
            @include wideBlueInput;
        }
        button {
            @include filledPrimaryButton;
        }
    }
}
