.userSettings {
    margin: 0 16px;
    height: 100%;
    width: 100%;

    h1 {
        @include largeTitle;
        color: $companyName;
    }

    input {
        @include wideInput;
    }

    .primaryBtn {
        @include filledPrimaryButton;
    }

    .deleteBtn {
        @include filledDangerButton;
    }

    .pswdLink {
        @include link;
    }
}
