@mixin largeTitle {
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

@mixin link {
  font-family: "Lato", sans-serif;
  color: $companyName;
  cursor: pointer;
  user-select: none;
}

@mixin lightParagraph {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  opacity: 0.6;
}
