.onboard {
  li {
    float: left;
    padding-right: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    color: $darkGray;
    opacity: 0.7;
  }

  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
  }

  body {
  }

  .compName {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: $companyName;
  }

  .focus {
    color: $companyName;
  }
}

.withSideNavbar {
  display: flex;
  height: 100vh;
  width: 100%;

  .navContainer {
    &:hover {
      .navTitle {
        max-width: 240px;
        transition: all 0.5s ease-in-out;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .navPadding {
      width: 100%;
      height: 100%;
      background-color: $darkNavbar;
    }

    .roundAllCorners {
      border-radius: 10px;
    }

    .roundLeftCorners {
      border-radius: 10px 0px 0px 10px;
    }

    height: 100%;
    padding: 0.5%;

    .navLinks {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .active {
      background-color: $turqois;
      border-radius: 10px;
      padding: 10px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .inactive {
      padding-left: 15px;
      padding-right: 15px;

      border-radius: 10px;
      padding: 10px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .navItem {
      display: flex;
      color: white;
      margin-top: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      user-select: none;
    }

    .navTitle {
      max-width: 0px;
      transition: all 0.5s ease-in-out;
      white-space: nowrap;
      padding-left: 0px;
      padding-right: 0px;
      vertical-align: middle;
      font-family: "Lato", sans-serif;
      font-weight: 300 !important;
      letter-spacing: 1px;
    }

    .noCollapse {
      .navTitle {
        max-width: 240px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .navIcon {
      width: 24px;
      height: 24px;
      background-size: 24px;
    }
    .home {
      background-image: url("./icons/home.svg");
    }

    .sites {
      background-image: url("./icons/site.svg");
    }

    .profiles {
      background-image: url("./icons/hvac.svg");
    }

    .user-management {
      background-image: url("./icons/accountManagement.svg");
    }

    .settings {
      background-image: url("./icons/settings.svg");
    }

    .logout {
      background-image: url("./icons/logout.svg");
    }

    .logoutItem {
      position: absolute;
      bottom: 2%;
    }
  }

  .contentContainer {
    padding-left: 10%;
    padding-right: 5%;
  }
}
