.custom {
  .content {
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .signIn {
    padding-left: 10%;
  }

  .onboardForm {
    margin-top: 10%;
  }

  h1 {
    font-size: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: $companyName;
    margin-top: 50px;
  }

  p {
    padding-bottom: 70px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    opacity: 0.6;
  }

  input {
    display: block;
    border-width: 2px;
    border-color: $lightGray;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    outline: 0px;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: $darkGray;
    opacity: 0.9;

    &:required:valid {
      border-bottom-color: $lightGreen;
    }

    &:required:invalid {
      border-bottom-color: $lightRed;
    }
  }

  button {
    font-family: "Lato";
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $companyName;
    color: white;
    border-radius: 10px;
    border-width: 2px;
    border-color: $companyName;
    transition: all 0.2s ease-in-out;
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 80px;

    &:hover {
      background-color: white;
      color: $companyName;
      border-color: $companyName;
      transform: scale(0.9, 0.9);
      transition: all 0.2s ease-in-out;
    }
  }

  .requestLink {
    font-family: "Lato", sans-serif;
    color: $companyName;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    user-select: none; 
  }
}
