.content {
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.signIn {
  padding-left: 10%;
}

h1 {
  font-size: 45px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: $darkGray;
  margin-bottom: 40px;
  margin-top: 50px;
}

input {
  display: block;
  border-width: 2px;
  border-color: $lightGray;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  outline: 0px;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: $darkGray;

  &:required:valid {
    border-bottom-color: $lightGreen;
  }

  &:required:invalid {
    border-bottom-color: $lightRed;
  }
}

.requestLink {
    display: block;
    color: $companyName;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    float: right;
}
