@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


// COLORS
$turqois :#2292A4;
$darkGray: #4B4B4B;
$lightGray: #E5E5E5;
$lightGreen: #6FCF97;
$lightRed: #EB5757;

$companyName:$turqois;